<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fortuna</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <div class="container">
    <div class="top">
      <!-- moon image by Jalan's Place on Flickr: https://flic.kr/p/p9EgS4 -->
      <h1><%= link_to "FORTUNA", home_path %> <small>Be bold. Seek answers publicly.</small></h1>
    </div>

    <%= yield %>

  </div>

  <div class="container center">
    <p class="text-muted">
      A <%= link_to "truekwak", "http://www.twitter.com/truekwak", target: "_blank" %> production.
    </p>
  </div>

</body>
</html>
